<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Do you want to delete product?</h3>
<p th:if="${message} != null">
    <span class="message" th:text="${message}"></span>
</p>

<form method="post" th:action="@{/blog/delete}" th:object="${blog}">
    <fieldset>
        <legend>Blog information</legend>
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="hidden" th:field="*{id}"/>
                    <input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" th:field="*{category.name}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><textarea cols="80" rows="10" th:field="*{content}"/></td>
            </tr>


            <tr>
                <td></td>
                <td><input type="submit" value="Delete blog"></td>
            </tr>
        </table>
    </fieldset>
</form>
<p>
    <a href="/blog">Back to blog list</a>
</p>
</body>
</html>